@media(max-width:576px){
    .additional-shop-info , .additional-nav{
    display:none!important;
    }
    .pre-header{    
     padding-top:0px!important;   
     border: none!important;
    }
    .top-cart-block{
        display:none!important;
    }
    
    .ecommerce .site-logo{
        width:55%!important;
    }
    }
    .header{
    background: linear-gradient(to right, #000530, #1445b7)!important;
    }
    
    .header::before {
     background:none!important;   
    }
    
    .pre-header{background: #e7284d!important;}
    
    
    .ecommerce .header-navigation > ul > li > a{
        padding: 30px 15px 14px!important;
        font-size: 13px!important;
         font-weight: 100!important;
         font-family: revert!important;
    }
    
    .list-inline{
        margin-top: 5px!important;
    }
    
    .pre-header a:hover {
        color:#fff!important;
    }
    
    .dropdown-menu{
        background:#ededed!important
    
    }
    
    .dropdown-menu>li>a{
            color:#000!important;
    }
    
    
    .dropdown-menu>li>a:hover {
        color: #262626!important;
        background-color: #f5f5f5;
    }
    
    .header-navigation-content .header-navigation-col h4{
        color:#000!important;
    }
    
    .header-navigation .header-navigation-content .header-navigation-col li > a:hover{
        box-shadow: none!important;
        color:#000;
    }
    
    .header-navigation .dropdown-menu li > a {
        font-size: 13px!important;
        padding: 9px 10px!important;
        font-weight: 300!important;
        color: #000!important;
    }
    
    .header-navigation-content{
        min-width: 600px!important;
    }
    
    
    .price-availability-block .price strong{
        font-size: 20px!important;
    }
    
    .price-availability-block .availability{
        width: 100%!important;
    }
    
    .product-item h3 , .pi-price{
        font-size: 20px!important;
        width:100%;
    }
    
    .product-item .add2cart{
        font-size: 10px!important;
        padding: 6px 15px!important;
        margin-top: 5px!important;
        background: #e94d1c!important;
        color:#fff!important;
    }
    
    .product-item h3 a{
        font-size:14px!important;
    }
    
    a:hover {
        color: #575757!important;
    }
    
    
    .ecommerce h4{
        text-transform: capitalize!important;
    }
    

    @media(max-width:576px){
    .steps-block,.pre-footer{
    display:none!important;
    }
    .product-page-content .tab-content{
     overflow-x:scroll!important;   
    }
    #feedback{display:none!important;}
    }